---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* Our variables */
$base-font-family: Lato, Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #3B3B3B;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-med: lighten($grey-color, 30%);
$grey-color-dark:  darken($grey-color, 25%);

$link-color:		#0A6080;
$active-link-color:	#04ABE3;
$navbar-color:		#828282;

$on-palm:          1079px;
$on-laptop:        1080px;

$fill-width:		75%;

// $logo-height:		75px;
$logo-height:       49px;
$logo-width:		130px;;

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    font-size: $base-font-size;
    @include media-query($on-palm) {
        font-size: $small-font-size;
    }
    line-height: $base-line-height;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

/*li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}
*/


/**
 * Headings
 */

h1 {
    color: #474747;
    font-weight: 800;
}

h2, h3, h4, h5, h6 {
    color: #575757;
    font-weight: 700;
}

h1 {
    @include media-query($on-palm) {
        font-size: $small-font-size * 1.7;
    }
}

h2 {
    @include media-query($on-palm) {
        font-size: $small-font-size * 1.3;
    }
}

h3 {
    font-size: $base-font-size * 1.2;
    @include media-query($on-palm) {
        font-size: $small-font-size * 1.2;
    }
}



/**
 * Links
 */
a {

    &:not(.subtle_link) {
        color: $link-color;
        text-decoration: underline;

        /*&:visited {
            color: darken($brand-color, 15%);
        }*/

        &:hover {
            color: $active-link-color;
            text-decoration: none;
        }
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: $base-font-size*0.8;
    border: 1px solid #CCC;
    border-radius: 4px;
    background-color: #FAFAFA;
    /*background-color: #eef;*/
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$fill-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$fill-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc($fill-width - (#{$spacing-unit}));
        max-width:         calc($fill-width - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }

    @media screen and (max-width: 365px) {
        max-width: 100%;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

table {
    border:#000000	1px solid;
    border-radius:3px;
}
table th {
    padding:21px 25px 22px 25px;
    border-top:1px solid #000000;
    border-bottom:1px solid #000000;
}
table tr {
    padding-left:20px;
}
table td {
    padding:18px;
    border-top: 1px solid #000000;
    border-bottom:1px solid #000000;
    border-left: 1px solid #000000;
}

/**
 * Site header
 */
.site-header {
    min-height: 30px;

    // Positioning context for the mobile navigation icon
    position: relative;
    background-color: $grey-color-light;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.site-title {
    font-size: 26px;
    //line-height: 56px;
    line-height: 49px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.header-logo {
    width: $logo-width;
    //padding: 5px;
    padding: 0px;
    padding-right: $spacing-unit;
    display: inline-block;
    float: left;
}

.site-nav {

    text-align: center;
    line-height: $logo-height;

    .menu-icon {
        display: none;
        height: $logo-height;
    }

    .page-link-wrapper {

        display: inline-block;

        .page-link {
            color: $grey-color-dark;
            font-size: $base-font-size*1.1;
            font-weight: 600;
            text-decoration: none;
            line-height: $base-line-height;

            &:hover {
                text-decoration: underline;
            }

            /*// Gaps between nav items, but not on the first one
            &:not(:first-child) {*/
                padding-left: $spacing-unit;
                padding-right: $spacing-unit;
            /*}*/

        }
    }


    .active {
        background-color: $grey-color-med;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
        .page-link {
            color: #575757;
        }
    }

        @include media-query($on-palm) {
            position: absolute;
            top: 9px;
            right: 30px;
            background-color: $background-color;
            border: 1px solid $grey-color-light;
            border-radius: 5px;
            text-align: right;

            .menu-icon {
                padding-left: 0px;
                padding-right: 0px;
                display: block;
                float: right;
                width: 36px;
                height: 26px;
                line-height: 0;
                padding-top: 10px;
                text-align: center;

                > svg {
                    width: 18px;
                    height: 15px;

                    path {
                        fill: $grey-color-dark;
                    }
                }
            }

            .trigger {
                position: relative;
                z-index: 100;
                clear: both;
                display: none;
            }

            &:hover .trigger {
                display: block;
                padding-bottom: 5px;
                background-color: $navbar-color;
            }

            .page-link-wrapper {
                position: relative;
                z-index: 100;
                background-color: $navbar-color;
                display: block;
                line-height: $base-line-height;
                padding: 5px 10px;
                .page-link {
                    position: relative;
                    z-index: 100;
                    padding: 0px;
                    color: #ffffff;
                }
            }
        }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    text-align: center;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.mainpage-content {
    padding: $spacing-unit 0;
    text-align: center;
    font-size: 140%;
}

.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

/*.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
*/

$image-width:	200px;

.member {
	width: 100%;
	padding-bottom: $spacing-unit;
	display: inline-block;
}

.member img {
	width: $image-width;
	@media screen and (min-width: 558px) {
		float: left;
		padding-right: $spacing-unit;
	}
	padding-bottom: $spacing-unit;
}

/* // Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "people"
; */

.join-img {
	float: left;
	padding-right: $spacing-unit;
	width: 40%;
}

/**
 * Syntax highlighting styles
 */
.highlight {
    background: #fff;
    @extend %vertical-rhythm;

    .c     { color: #998; font-style: italic } // Comment
    .err   { color: #a61717; background-color: #e3d2d2 } // Error
    .k     { font-weight: bold } // Keyword
    .o     { font-weight: bold } // Operator
    .cm    { color: #998; font-style: italic } // Comment.Multiline
    .cp    { color: #999; font-weight: bold } // Comment.Preproc
    .c1    { color: #998; font-style: italic } // Comment.Single
    .cs    { color: #999; font-weight: bold; font-style: italic } // Comment.Special
    .gd    { color: #000; background-color: #fdd } // Generic.Deleted
    .gd .x { color: #000; background-color: #faa } // Generic.Deleted.Specific
    .ge    { font-style: italic } // Generic.Emph
    .gr    { color: #a00 } // Generic.Error
    .gh    { color: #999 } // Generic.Heading
    .gi    { color: #000; background-color: #dfd } // Generic.Inserted
    .gi .x { color: #000; background-color: #afa } // Generic.Inserted.Specific
    .go    { color: #888 } // Generic.Output
    .gp    { color: #555 } // Generic.Prompt
    .gs    { font-weight: bold } // Generic.Strong
    .gu    { color: #aaa } // Generic.Subheading
    .gt    { color: #a00 } // Generic.Traceback
    .kc    { font-weight: bold } // Keyword.Constant
    .kd    { font-weight: bold } // Keyword.Declaration
    .kp    { font-weight: bold } // Keyword.Pseudo
    .kr    { font-weight: bold } // Keyword.Reserved
    .kt    { color: #458; font-weight: bold } // Keyword.Type
    .m     { color: #099 } // Literal.Number
    .s     { color: #d14 } // Literal.String
    .na    { color: #008080 } // Name.Attribute
    .nb    { color: #0086B3 } // Name.Builtin
    .nc    { color: #458; font-weight: bold } // Name.Class
    .no    { color: #008080 } // Name.Constant
    .ni    { color: #800080 } // Name.Entity
    .ne    { color: #900; font-weight: bold } // Name.Exception
    .nf    { color: #900; font-weight: bold } // Name.Function
    .nn    { color: #555 } // Name.Namespace
    .nt    { color: #000080 } // Name.Tag
    .nv    { color: #008080 } // Name.Variable
    .ow    { font-weight: bold } // Operator.Word
    .w     { color: #bbb } // Text.Whitespace
    .mf    { color: #099 } // Literal.Number.Float
    .mh    { color: #099 } // Literal.Number.Hex
    .mi    { color: #099 } // Literal.Number.Integer
    .mo    { color: #099 } // Literal.Number.Oct
    .sb    { color: #d14 } // Literal.String.Backtick
    .sc    { color: #d14 } // Literal.String.Char
    .sd    { color: #d14 } // Literal.String.Doc
    .s2    { color: #d14 } // Literal.String.Double
    .se    { color: #d14 } // Literal.String.Escape
    .sh    { color: #d14 } // Literal.String.Heredoc
    .si    { color: #d14 } // Literal.String.Interpol
    .sx    { color: #d14 } // Literal.String.Other
    .sr    { color: #009926 } // Literal.String.Regex
    .s1    { color: #d14 } // Literal.String.Single
    .ss    { color: #990073 } // Literal.String.Symbol
    .bp    { color: #999 } // Name.Builtin.Pseudo
    .vc    { color: #008080 } // Name.Variable.Class
    .vg    { color: #008080 } // Name.Variable.Global
    .vi    { color: #008080 } // Name.Variable.Instance
    .il    { color: #099 } // Literal.Number.Integer.Long
}


/*p code {
    color: #D14;
    background-color: inherit;
    font-size: 12px;
    border: none;
}*/
/*li code {
    color: #D14;
    background-color: inherit;
    font-size: 12px;
    border: none;
}*/

.journal {
    font-style: italic;
}

.bibliography li {
    margin-bottom: $spacing-unit/3;
}

.left {
    float: left;
    margin-right: $spacing-unit;
    margin-bottom: $spacing-unit;
}

.right {
    float: right;
    margin-left: $spacing-unit;
    margin-bottom: $spacing-unit;
}

.slick-dots {
    margin-left: 0px;
}


/*.slick-dots {
    @media screen and (max-width: 469px) {
        position: relative !important;
        bottom: 0px !important;
    }
}*/


button::-moz-focus-inner { outline: 0; border: 0; zoom: normal; }

.Abstract {
    margin-left: $spacing-unit * 2;
    margin-right: $spacing-unit * 2;
    display: none;
    font-size: $small-font-size;
}
.BibTex {
    margin-left: $spacing-unit * 2;
    margin-right: $spacing-unit * 2;
    display: none;
    font-size: $small-font-size;
}

.minilinks {
    font-size: $base-font-size * 0.9;

    a {
        background-color: #eee;
    }
}

table {
    border:#000000	1px solid;
    border-radius:3px;
}
table th {
    padding:21px 25px 22px 25px;
    border-top:1px solid #000000;
    border-bottom:1px solid #000000;
}
table tr {
    padding-left:20px;
}
table td {
    padding:18px;
    border-top: 1px solid #000000;
    border-bottom:1px solid #000000;
    border-left: 1px solid #000000;
}


.publicationButton {
  color: #0A6080;
  text-decoration: underline;
}
